body.dark-theme {
    background: #181D22 !important;
}

.dark-theme #left-menu-toggle-mask {
    background: #181D22 !important;
}

.dark-theme #page-content {
    background: #181D22 !important;
}

.dark-theme .navbar {
    background: #21282F !important;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6 {
    color: #fff !important;
}

.dark-theme .dark-theme .text-default {
    color: #fff !important;
}

.dark-theme .card-header {
    background: #21282F !important;
    border-color: #2F3439 !important;
    color: #fff !important;
}

.dark-theme .bg-white {
    background: #21282F !important;
}

.dark-theme .card-body {
    background: #21282F !important;
}

.dark-theme .card-header span {
    color: #fff !important;
}

.dark-theme .card {
    background: #21282F !important;
}


.dark-theme .border-bottom {
    border-color: #2F3439 !important;
}

.dark-theme span {
    color: #A1A5A9 !important;
}

.dark-theme .user-name {
    color: #fff !important;
}

.dark-theme .sidebar,
.dark-theme .sidebar-scroll {
    background: #21282F !important;
}

.dark-theme .sidebar .sidebar-menu li.active>a,
.dark-theme .sidebar .sidebar-menu li a:hover {
    background: #2E3841 !important;
}

.dark-theme .projects-title a {
    color: #fff !important;
}

.dark-theme .projects-id {
    color: rgba(255, 255, 255, 0.5) !important;
}

.dark-theme .projects-item span {
    color: #fff !important;
}

.dark-theme .projects-progressbar-number {
    color: #fff !important;
}

.dark-theme .projects-progressbar {
    background: #171717 !important;
}

.dark-theme .emoji-link-img-cover {
    background: #171717 !important;
}

.dark-theme .birthday-tab .card-title a {
    color: #fff !important;
}

.dark-theme .blog-card h2 a {
    color: #fff !important;
}

.dark-theme .news__btn {
    border-color: #fff !important;
    color: #fff !important;
}