.sidebar-scroll {
    background-color: #286196!important;
    margin-top:105px;
}
.sidebar-brand {
    box-shadow:none!important;
}
.graphs .bg-white {
    padding-bottom: 30px;
}
.projects_widget_container .card,
.profile_widget_container .bg-white,
.graphs .row {
    height:calc(100% - 15px)!important;
}
.project-overview-widget {
    padding:0px;
}
.government_program_list .program_item a {
    margin:0px!important;
}
.government_program_list .program_item {
    width:100%;
    margin: 0px 0px 15px;
}
#project-table .text-danger {
    color:#B81414!important;
    font-weight: bold;
}
.graph-info-text,
.graph-info-number {
    font-size: 14px;
    white-space: nowrap;
} 
.kanban-col .btn-border {
    color: #B81414!important;
    font-weight: bold;
}
.government_program_list .program_item {
    overflow:hidden;
}
.government_program_list .program_item a {
    height: 240px!important;
    display:table;
    padding:20px!important;
}
.government_program_list .program_item a div {
    display:table-cell!important;
    vertical-align:middle;
}
.row.tasks .widget-container {
    padding-right: calc(var(--bs-gutter-x) * .4);
    padding-left: calc(var(--bs-gutter-x) * .4);
}
@media screen and (max-width: 990px) {
    .sidebar .sidebar-brand {
        display:none;
    }
    .sidebar-toggled .sidebar .sidebar-brand {
        display:block;
        position:static;
        padding:0px;
        margin:0px;
        width: 65px!important;
    }
    .sidebar-toggled .sidebar .sidebar-brand img {
        margin-left:0px;
    }
    .navbar .navbar-nav .nav-link {
        padding: 15px 15px !important;
    }
    .navbar .navbar-nav .nav-link {
        padding: 15px 13px !important;
    }
    .feather-plus-circle {
        display: block!important;
    }
    .sidebar .sidebar-scroll {
        border-top: none;
    }
}